:root{
    --couleur1: #191414; /* Spotify Black */
    --couleur2: #1DB954; /* Spotify Green */
    --couleur3: #B3B3B3;
    --couleur4: #282828; 
}

*{
    font-family: 'Londrina Solid', sans-serif;
    color: #FFFFFF; /* Spotify White */
}

table{
    border-collapse: collapse;
    width: 100%;
    background-color: var(--couleur1);
}

td, th{
    padding: 8px;
    text-align: center;
    height: 50px;
}

th{
    background-color: var(--couleur4);
}

tr:hover {
    background-color: var(--couleur4);
}

tbody tr{
    border-bottom: 1px solid var(--couleur4);
}

tbody tr:last-child{
    border-bottom: none;
}

a{
    text-decoration: none;
    color: var(--couleur2);
}

a:hover{
    color: var(--couleur3);
}

body{
    background-color: var(--couleur1);
}

input{
    background-color: var(--couleur4);
    color: #FFFFFF;
    border: none;
    padding: 10px;
    margin: 10px;
}